<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBSten LGTM</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>TBSten LGTM images</h1>


    <h2>Random</h2>

    <table border="1">
        <tbody>
            <th id="random-name"></th>
            <td>
                <img src="" id="random-image" width="150" />
            </td>
            <td>
                <textarea id="random-markdown"></textarea>
            </td>
            <td>
                <button id="random">
                    Change
                </button>
            </td>
        </tbody>
    </table>

    <h2>LGTMs</h2>

    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>image</th>
                <th>markdown</th>
            </tr>
        </thead>
        <tbody id="lgtms-tbody">
        </tbody>
    </table>

    <script src="index.js"></script>

</body>

</html>